build/

contracts/metacoin
random/
test/metacoin.js
test/TestMetaCoin.sol
node_modules/
node_modules2/

frontend/
bin/
formattings/
benchmark.txt
*flattened.sol
migrations_old/
chaindata/

artifacts
cache
typechain

secrets.json
package-lock.json